{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "esling:recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}